 
<%if @available_dates.present? %>
<h2>Doctor's Available Dates</h2>

<ul>
  <% @available_dates.each do |date| %>
    <li>
      <%= link_to date.strftime("%Y-%m-%d"), new_doctor_appointment_path(@doctor, appointment_date: date) %>
    </li>
  <% end %>
</ul>
<%else%>
<p>No available dates present</p>
<%end%>
