<div class="calendar-center">
  <div class = "calendar-container">
    <% if @available_dates.present? %>
      <h2>Doctor's Available Dates</h2>

      <div>
        <input type="text" id="available-dates-calendar" class="datepicker" data-available-dates="<%= @available_dates_for_picker.to_json %>">
      </div>

      <div class="calendar-centered-form">
        <%= form_with url: new_doctor_appointment_path(@doctor), method: :get, local: true do |form| %>
          <%= form.hidden_field :appointment_date, id: "selected_date" %>
          <%= form.submit "Book Appointment" %>
        <% end %>
      </div>

    <% else %>
      <p>No available dates present</p>
    <% end %>
  </div>
</div>
