
<h2 class="center">Your Patients</h2>
<div>
  <table class="table center">
    <thead>
      <tr>
        <th>Name</th>
        <th>More Details</th>
      </tr>
    </thead>
    <tbody>
      <%@users.each do |user|%>
        <tr>
          <td><%= user.first_name%> <%= user.last_name%> </td>
          <td><%= link_to "Patient Details", patient_path(user)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div class="pagination">
  <%= paginate @users %>
</div>


  