<p class="message"><%=notice%></p>
<div>
  <h1>Patient</h1>
  <table>                         
    <tr>                         
     <th>Patient Name</th>
     <th>More Info</th>
    </tr>   
    <tr>
     <td><%=@patient.name %></td>
     <td><%= link_to "Patient Details", @patient %></td>
    </tr>                   
  </table> 
</div>
