
<div>
  <%= link_to "Doctors Patients History" ,patients_history_doctor_path(@doctor.id)%>
</div><br>

<div>
  <%= link_to "Doctors Appointment History" ,doctors_appointment_history_doctor_path(@doctor.id)%>
</div>
<br>

<div>
  <%= link_to "View Doctors Availability" ,doctor_doctor_availabilities_path(@doctor.id)%>
</div>
<br>
