<h2 class = "center">Doctors Info</h2>
  <div class = "body_container">
    <%@doctors.each do |doctor|%>
      <div class = "row">
        <div class = "col-md-3">
          <div class = "card-inner">
            <div> <%= doctor.name %></div><br>
            <div> <%= link_to "Details", doctor %></div><br>
          </div>
        </div>
      </div>
    <%end%>
  </div>

