<h2>History</h2>
<table> 
  <%if @history.present?%>                     
  <tr>                          
    <th>First Name</th>
    <th>Last Name</th>
    <th>mobile_number</th>
  </tr>   
  <tr>  
    <%@history.each do |history|%>  
    <td><%=history.first_name%></td> 
    <td><%=history.last_name%></td>
    <td><%=history.mobile_number%></td> 
  </tr>
  <%end%>  
  <% else %>
  <h3>Patient not found</h3>
  <%end%>    
</table> 
 
<br>

<div>
    <%=link_to "Back to Profile", @doctor %>
</div>